## **Tables**

````````````````sql

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    City VARCHAR(50)
);
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    OrderAmount DECIMAL(10,2),
    OrderDate DATE,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

INSERT INTO Customers VALUES
(1, 'Alice', 'Delhi'),
(2, 'Bob', 'Mumbai'),
(3, 'Charlie', 'Bangalore'),
(4, 'Daisy', 'Chennai');  -- This customer has no order

INSERT INTO Orders VALUES
(101, 1, 2500.00, '2023-01-10'),
(102, 1, 1800.00, '2023-01-12'),
(103, 2, 3000.00, '2023-01-14'),
(104, NULL, 1500.00, '2023-01-20'); -- This order has NULL customer (edge case)

````````````````
````sql
Select * From Customers;
Select * From Orders;

-- 1. Get all customers who have placed orders, with their name and order amount.
Select C.CustomerID, C.CustomerName, O.OrderID, O.OrderAmount, O.OrderDate
From Customers C JOIN Orders O
ON C.CustomerID = O.CustomerID;

-- 2. Show each customer’s order date and amount (exclude those with no orders).
Select C.Customername, O.OrderAmount, O.OrderDate
From Customers C JOIN Orders O
ON C.CustomerID = O.CustomerID;

-- 3. Show customers and orders where the city is 'Delhi'.
Select C.CustomerName, O.OrderID 
From Customers C JOIN Orders O
ON C.customerID = O.CustomerID
Where C.City = 'Delhi';

-- 4. Identify any duplicate orders made by the same customer (CustomerID + Count > 1).
Select C.CustomerID, C.CustomerName, Count(O.orderid) Count_of_Orders
From Customers C JOIN Orders O
ON C.CustomerID = O.CustomerID
Group By C.CustomerID, C.CustomerName
Having Count_of_Orders > 1;

-- 5. Q5. What happens when you do this?
SELECT * FROM Orders o
INNER JOIN Customers c ON o.CustomerID = c.CustomerID;
-- Does it include the order with NULL CustomerID?
-- No, because INNER JOIN excludes NULLs in join column — this is a classic edge case.

CREATE TABLE Employees (
    EmpID INT PRIMARY KEY,
    EmpName VARCHAR(50),
    Department VARCHAR(50)
);

CREATE TABLE Projects (
    ProjectID INT PRIMARY KEY,
    ProjectName VARCHAR(50),
    EmpID INT,
    FOREIGN KEY (EmpID) REFERENCES Employees(EmpID)
);

INSERT INTO Employees VALUES
(1, 'John', 'HR'),
(2, 'Sara', 'Finance'),
(3, 'Mike', 'IT'),
(4, 'Emma', 'IT'); -- No project assigned

INSERT INTO Projects VALUES
(201, 'Payroll System', 1),
(202, 'Budget Planning', 2),
(203, 'Network Upgrade', 3),
(204, 'App Development', NULL); -- Project with no assigned employee

Select * From Employees;
Select * From Projects;

-- 6. List employees who are working on a project.
Select E.EmpName
From Employees E JOIN Projects P
ON E.EmpID = P.EmpID;

-- 7. Which employees are assigned to 'IT' projects?
SELECT e.EmpName, p.ProjectName
FROM Employees e
INNER JOIN Projects p ON e.EmpID = p.EmpID
WHERE e.Department = 'IT';

-- Modify data to create duplicate EmpIDs in Projects. What will happen?
INSERT INTO Projects VALUES
(205, 'Security Review', 3); -- Mike again