#### **Joins - 2**
-------------------------------

#### **Customers table**
```sql
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(100),
    email VARCHAR(100),
    city VARCHAR(50),
    registration_date DATE
);
```

````
INSERT INTO customers VALUES
(1, 'John Smith', 'john@email.com', 'New York', '2023-01-15'),
(2, 'Sarah Johnson', 'sarah@email.com', 'Los Angeles', '2023-02-20'),
(3, 'Mike Brown', 'mike@email.com', 'Chicago', '2023-03-10'),
(4, 'Lisa Davis', 'lisa@email.com', 'Houston', '2023-04-05'),
(5, 'Tom Wilson', 'tom@email.com', 'Phoenix', '2023-05-12');
````
#### **Orders table**

````
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10,2),
    status VARCHAR(20)
);
````

````
INSERT INTO orders VALUES
(101, 1, '2023-06-01', 150.00, 'Completed'),
(102, 1, '2023-06-15', 220.00, 'Completed'),
(103, 2, '2023-06-10', 300.00, 'Completed'),
(104, 3, '2023-06-20', 180.00, 'Pending'),
(105, 6, '2023-06-25', 250.00, 'Completed'),  -- Customer 6 doesn't exist
(106, 2, '2023-07-01', 120.00, 'Cancelled');
````

#### **CreateProducts table**
````
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price DECIMAL(10,2),
    stock_quantity INT
);
````


````
INSERT INTO products VALUES
(201, 'Laptop', 'Electronics', 800.00, 50),
(202, 'Mouse', 'Electronics', 25.00, 200),
(203, 'Keyboard', 'Electronics', 75.00, 150),
(204, 'Chair', 'Furniture', 120.00, 80),
(205, 'Desk', 'Furniture', 200.00, 30),
(206, 'Monitor', 'Electronics', 250.00, 0);  -- Out of stock
````

#### **Create Order_Items table**

````
CREATE TABLE order_items (
    order_item_id INT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    unit_price DECIMAL(10,2)
);
````

````
INSERT INTO order_items VALUES
(1, 101, 202, 2, 25.00),
(2, 101, 203, 1, 75.00),
(3, 102, 201, 1, 800.00),
(4, 103, 204, 2, 120.00),
(5, 103, 205, 1, 200.00),
(6, 104, 202, 3, 25.00),
(7, 105, 207, 1, 250.00),  -- Product 207 doesn't exist
(8, 106, 203, 1, 75.00);
````
#### **Employees Table**
````
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    employee_name VARCHAR(100),
    manager_id INT,
    department VARCHAR(50),
    salary DECIMAL(10,2)
);
````
````
INSERT INTO employees VALUES
(1, 'Alice Johnson', NULL, 'Management', 80000.00),
(2, 'Bob Smith', 1, 'Sales', 55000.00),
(3, 'Carol Davis', 1, 'Marketing', 60000.00),
(4, 'David Wilson', 2, 'Sales', 45000.00),
(5, 'Eve Brown', 2, 'Sales', 48000.00),
(6, 'Frank Miller', 3, 'Marketing', 52000.00);
````

---

## Practice Questions by Join Type

### 1. INNER JOIN Questions

**Question 1.1:** Find all customers and their order details, showing customer name, email, order date, and total amount. Include only customers who have actually placed orders.

**Question 1.2:** Display all order items with their corresponding product names and categories.

**Question 1.3:** Show customers from New York or Los Angeles who have completed orders, including order details.

### 2. LEFT JOIN Questions

**Question 2.1:** List all customers and their orders (if any). Show customers even if they haven't placed any orders.

**Question 2.2:** Display all products and their order quantities (if any). Include products that were never ordered.

**Question 2.3:** Find customers who have never placed an order.

### 3. RIGHT JOIN Questions

**Question 3.1:** Show all orders and their corresponding customer information. Include orders even if the customer doesn't exist in the customers table.

**Question 3.2:** Display all order items and their corresponding order information, including items that might not have valid order references.

### 4. FULL OUTER JOIN Questions

**Question 4.1:** Create a complete list showing all customers and all orders, matching them where possible.

**Question 4.2:** Show all products and all order items, displaying unmatched records from both sides.

### 5. CROSS JOIN Questions

**Question 5.1:** Generate all possible combinations of customers and products (useful for creating a product recommendation matrix).

**Question 5.2:** Create a matrix showing all possible employee-department combinations.

### 6. SELF JOIN Questions

**Question 6.1:** Display each employee with their manager's name.

**Question 6.2:** Find all employees who earn more than their manager.

**Question 6.3:** Show all employee pairs who work in the same department but have different managers.

---

## Complex Multi-Join Questions

### Question 7.1: Triple Join
Find the total revenue generated by each customer, showing customer name, number of orders, and total spent.

### Question 7.2: Complex Analysis
Display customers who have ordered products from the 'Electronics' category, showing customer details, order information, and product details.

### Question 7.3: Advanced Reporting
Create a report showing each product's sales performance: product name, category, total quantity sold, total revenue, and number of different customers who bought it.

### Question 7.4: Inventory Analysis
Show products that are either out of stock OR have never been ordered, including full product details.

---

## Solutions Section

### INNER JOIN Solutions

**Solution 1.1:**
```sql
SELECT c.customer_name, c.email, o.order_date, o.total_amount
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id;
```

**Solution 1.2:**
```sql
SELECT oi.order_item_id, oi.order_id, p.product_name, p.category, 
       oi.quantity, oi.unit_price
FROM order_items oi
INNER JOIN products p ON oi.product_id = p.product_id;
```

**Solution 1.3:**
```sql
SELECT c.customer_name, c.city, o.order_id, o.order_date, o.total_amount
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
WHERE c.city IN ('New York', 'Los Angeles') 
AND o.status = 'Completed';
```

### LEFT JOIN Solutions

**Solution 2.1:**
```sql
SELECT c.customer_name, c.email, o.order_id, o.order_date, o.total_amount
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id;
```

**Solution 2.2:**
```sql
SELECT p.product_name, p.category, p.stock_quantity, 
       COALESCE(SUM(oi.quantity), 0) as total_ordered
FROM products p
LEFT JOIN order_items oi ON p.product_id = oi.product_id
GROUP BY p.product_id, p.product_name, p.category, p.stock_quantity;
```

**Solution 2.3:**
```sql
SELECT c.customer_name, c.email, c.city
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
WHERE o.customer_id IS NULL;
```

### RIGHT JOIN Solutions

**Solution 3.1:**
```sql
SELECT o.order_id, o.order_date, o.total_amount, o.status,
       c.customer_name, c.email
FROM customers c
RIGHT JOIN orders o ON c.customer_id = o.customer_id;
```

### FULL OUTER JOIN Solutions

**Solution 4.1:**
```sql
SELECT c.customer_name, c.email, o.order_id, o.order_date, o.total_amount
FROM customers c
FULL OUTER JOIN orders o ON c.customer_id = o.customer_id;
```

### CROSS JOIN Solutions

**Solution 5.1:**
```sql
SELECT c.customer_name, c.city, p.product_name, p.category, p.price
FROM customers c
CROSS JOIN products p
ORDER BY c.customer_name, p.category;
```

### SELF JOIN Solutions

**Solution 6.1:**
```sql
SELECT e.employee_name as Employee, 
       m.employee_name as Manager
FROM employees e
LEFT JOIN employees m ON e.manager_id = m.employee_id;
```

**Solution 6.2:**
```sql
SELECT e.employee_name as Employee, e.salary as Employee_Salary,
       m.employee_name as Manager, m.salary as Manager_Salary
FROM employees e
INNER JOIN employees m ON e.manager_id = m.employee_id
WHERE e.salary > m.salary;
```

### Complex Multi-Join Solutions

**Solution 7.1:**
```sql
SELECT c.customer_name, 
       COUNT(o.order_id) as total_orders,
       COALESCE(SUM(o.total_amount), 0) as total_spent
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.customer_name
ORDER BY total_spent DESC;
```

**Solution 7.2:**
```sql
SELECT DISTINCT c.customer_name, c.email, c.city,
       o.order_id, o.order_date, o.total_amount,
       p.product_name, p.price
FROM customers c
INNER JOIN orders o ON c.customer_id = o.customer_id
INNER JOIN order_items oi ON o.order_id = oi.order_id
INNER JOIN products p ON oi.product_id = p.product_id
WHERE p.category = 'Electronics'
ORDER BY c.customer_name, o.order_date;
```

**Solution 7.3:**
```sql
SELECT p.product_name, p.category, p.price,
       COALESCE(SUM(oi.quantity), 0) as total_quantity_sold,
       COALESCE(SUM(oi.quantity * oi.unit_price), 0) as total_revenue,
       COUNT(DISTINCT o.customer_id) as unique_customers
FROM products p
LEFT JOIN order_items oi ON p.product_id = oi.product_id
LEFT JOIN orders o ON oi.order_id = o.order_id
GROUP BY p.product_id, p.product_name, p.category, p.price
ORDER BY total_revenue DESC;
```

---

## Key Learning Points

1. **INNER JOIN**: Returns only matching records from both tables
2. **LEFT JOIN**: Returns all records from left table + matching from right
3. **RIGHT JOIN**: Returns all records from right table + matching from left
4. **FULL OUTER JOIN**: Returns all records from both tables
5. **CROSS JOIN**: Returns Cartesian product of both tables
6. **SELF JOIN**: Joins a table with itself using aliases

## Performance Tips

- Always use appropriate indexes on join columns
- Consider the size of tables when using CROSS JOIN
- Use WHERE clauses to filter data early
- INNER JOINs are typically faster than OUTER JOINs
- Be careful with NULL values in join conditions